{% extends 'base.html' %}

{% block contenido %}
<div class="row">
	<div class="col-xs-12">
		<div class="well bs-component">
		<form class="form-horizontal" method="post">
				<fieldset>
					<legend>Agregar Proyecto</legend>
					<div class="form-group">
						<label for="nombre_proyecto" class="col-xs-2 control-label">Nombre del Proyecto</label>
						<div class="col-xs-10">
							<input type="text" name="nombre" class="form-control" placeholder="Nombre del Proyecto" id="nombre_proyecto" required />
						</div>
					</div>
					<div class="form-group">
						<label for="descripcion_proyecto" class="col-xs-2 control-label">Descripción del Proyecto</label>
						<div class="col-xs-10">
							<textarea name="descripcion" class="form-control" rows="3" id="descripcion_proyecto"></textarea>
							<span class="help-block">Escriba alguna descripción acerca del proyecto.</span>
						</div>
					</div>
					<div class="form-group">
						<label for="rubro_apoyo" class="col-xs-2 control-label">Rubros de Apoyo</label>
						<div class="col-xs-4">
							<div style="margin-top:12px">
								<select name="rubros" multiple data-placeholder="Seleccione los rubros..." class="form-control chosen-select" id="rubro_apoyo">
									{% for rubro in rubros %}
									<option value="{{rubro.nombre}}">{{rubro.nombre}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<label for="rubros_otro" class="col-xs-2 control-label">Especificar Rubro</label>
						<div class="col-xs-4">
							<input name="rubro_otro" type="text" class="form-control" id="rubros_otros" />
							<span class="help-block">Si el proyecto no se identifica con las opciones anteriores, especifique aquí.</span>
						</div>
					</div>
					<div class="form-group">
						<label for="area_responsable" class="col-xs-2 control-label">Área Responsable</label>
						<div class="col-xs-4">
							<select name="area" data-placeholder="Elije un Área..." class="form-control chosen-select" id="area_responsable" required>
								<option></option>
								{% for area in areas %}
								<option value="{{area.id}}">{{area.nombre}}</option>
								{% endfor %}
							</select>
						</div>
						<label for="razon_social" class="col-xs-2 control-label">Razón Social</label>
						<div class="col-xs-4">
							<select name="razon" data-placeholder="Elije una Razón Social..." class="form-control chosen-select" id="razon_social" required>
								<option></option>
								{% for razon in razones %}
								<option value="{{razon.id}}">{{razon.nombre}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="monto_inversion" class="col-xs-2 control-label">Monto de Inversión</label>
						<span class="input-group-addon col-xs-1">$</span>
						<div class="col-xs-6">
							<input name="inversion" type="number" class="form-control" id="monto_inversion" step="any" required />
						</div>
						<div class="col-xs-3">
							<select name="moneda" class="form-control" id="moneda">
								<option value="MXN" selected>Pesos Méxicanos</option>
								<option value="USD">Dolar Estadounidense</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="fecha_ejecucion" class="col-xs-2 control-label">Fecha de Ejecución</label>
						<div class="col-xs-5">
							<input name="fecha" type="date" class="form-control" id="fecha_ejecucion" required />
						</div>
						<label for="duracion" class="col-xs-2 control-label">Duración del Proyecto</label>
						<div class="col-xs-2">
							<input name="duracion" type="number" class="form-control" id="duracion" min='0' placeholder='0' required />
						</div>
						<span class="col-xs-1">Meses</span>
					</div>
				</fieldset>
				<div class="row">
					<div class="col-xs-3 pull-right">
						<p class="bs-component" style="text-align:right">
							<a href="/" class="btn btn-danger">Cancelar</a>
							<button type="submit" class="btn btn-success">Enviar</button>
						</p>
					</div>
				</div>
				{% csrf_token %}
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	$('.chosen-select').chosen();
</script>
{% endblock %}