<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<meta charset="utf-8">
	<title>SIGF - SuKarne</title>

	<link rel="icon" href="{{STATIC_URL}}img/f_logo.png" />

	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/mfb.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/jquery.bootgrid.css">
	<link rel="stylesheet" href="{{STATIC_URL}}chosen/chosen.css">
	<script src="{{STATIC_URL}}js/jquery-2.1.4.min.js"></script>

	{% block head %}
	{% endblock %}
</head>
<body>
	<header>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					{% if request.user.informacion.rol.nombre == 'Cliente Interno' %}
					<a href="" data-trigger="#sidebar" id="menu-trigger" class="opt-ind">
						<i class="fa fa-bars fa-lg"></i>
					</a>
					{% endif %}
					<a href="/" class="navbar-brand">
						<img src="{{STATIC_URL}}img/f_logo.png" style="width: 72px; margin-top: 5px; display:inline-block;" />
						<img src="{{STATIC_URL}}img/l_logo.png" style="width: 72px; margin-top: 5px; display:inline-block;" />
					</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							{{request.user.first_name}} <i class="fa fa-sort-down"></i>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li class="dropdown-header">Acciones</li>
							<li><a href="/editar/">Editar datos de usuario</a></li>
							<li><a href="/logout">Salir</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<aside id="sidebar" class="">
		<div class="sidebar-inner">
			<div class="si-inner">
				<ul class="main-menu">
					<li class="active"><a href="/"><i class="md md-home"></i> Home</a></li>
					<li class="sub-menu">
						<a href="">Proyectos</a>
						<ul>
							<li><a href="/proyecto/agregar/"> Registro</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

	</aside>
	<div class="container" style="margin-top:80px">

		{% block contenido %}
		{% endblock %}

	</div>

	<script src="{{STATIC_URL}}js/bootstrap.js"></script>
	<script src="{{STATIC_URL}}js/mfb.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap-datetimepicker.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery.nicescroll.js"></script>
	<script src="{{STATIC_URL}}js/jquery.bootgrid.js"></script>
	<script src="{{STATIC_URL}}js/jquery.bootgrid.fa.js"></script>
	<script src="{{STATIC_URL}}chosen/chosen.jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/extras/modernizr.js"></script>
	<script src="{{STATIC_URL}}js/extras/polyfiller.js"></script>
	<script>
		webshims.setOptions('waitReady', false);
		webshims.setOptions('forms-ext', {types: 'date'});
		webshims.polyfill('forms forms-ext');
	</script>
	<script>
		$(document).ready(function(){
			(function(){
				$("html").niceScroll();
        //Toggle
        $('body').on('click', '#menu-trigger', function(e){            
        	e.preventDefault();
        	var x = $(this).data('trigger');

        	$(x).toggleClass('toggled');
        	$(this).toggleClass('open');
        	$('body').toggleClass('modal-open');

    	    //Close opened sub-menus
    	    $('.sub-menu.toggled').not('.active').each(function(){
    	    	$(this).removeClass('toggled');
    	    	$(this).find('ul').hide();
    	    });
    	    $('.profile-menu .main-menu').hide();

            //When clicking outside
            $(document).on('click', function (e) {
            	if (($(e.target).closest($elem).length === 0) && ($(e.target).closest($elem2).length === 0)) {
            		setTimeout(function(){
            			$('body').removeClass('modal-open');
            			$($elem).removeClass('toggled');
            			$('#header').removeClass('sidebar-toggled');
            			$($elem2).removeClass('open');
            		});
            	}
            });
        })
        //Submenu
        $('body').on('click', '.sub-menu > a', function(e){
        	e.preventDefault();
        	$(this).next().slideToggle(200);
        	$(this).parent().toggleClass('toggled');
        });
    })();

});

</script>
{% block scripts %}
{% endblock %}
</body>
</html>