{% extends 'base.html' %}

{% block head %}
<style type="text/css" media="screen">
	.btn-xs{
		font-size: 10px;
	}	
</style>
{% endblock %}

{% block contenido %}
<div class="row">
	<div class="col-xs-12 well">
		<legend>Cambiar Contraseña</legend>
		{% if messages %}
		{% for message in messages %}
		<ul class="messages alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible" style="padding: 10px; padding-right: 30px;">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<li>
				{{ message }}
			</li>
		</ul>
		{% endfor %}
		{% endif %}
		<div class="bs-component">
			<form class="form-horizontal" method="post" autocomplete="off">
				<fieldset>
					<div class="form-group">
						<label class="col-md-2 control-label">Contraseña Actual</label>
						<div class="col-md-10">
							<input type="password" class="form-control" name="pass_old" placeholder="Contraseña Actual" required />
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">Nueva Contraseña</label>
						<div class="col-md-10">
							<input type="password" class="form-control" name="new_pass" placeholder="Nueva Contraseña" required />
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-2 control-label">Repetir Nueva Contraseña</label>
						<div class="col-md-10">
							<input type="password" class="form-control" name="new_pass2" placeholder="Repetr Nueva Contraseña" required />
						</div>
					</div>
				</fieldset>
				<button type="submit" class="btn btn-success pull-right">Cambiar Contraseña</button>
				{% csrf_token %}
			</form>
		</div>
	</div>
</div>

{% endblock %}
