{% extends 'base.html' %}

{% block contenido %}
<style>
	.mensajes{
		padding: 30px;
		height: 450px;
	}
	.emisor-m{
		background-color: #98FFB5;
		float: right !important;
		border-radius: 45px 45px 0px 45px;
		box-shadow: none;

	}
	.receptor-m{
		background-color: #D2D2D2;
		border-radius: 45px 45px 45px 0px;
		box-shadow: none;
	}
	.write{
	}
</style>
<div class="mensajes well"  id="mensaje">
	{% for mensaje in mensajes %}
	<div class="row">
		{% if request.user.informacion.rol.nombre != 'Gerente' %}
			{% if mensaje.usuario != request.user %}
			<div class="well col-xs-6 receptor-m">
				<p>{{mensaje.usuario.first_name}}</p>
				<h6>{{mensaje.comentario}}</h6>
				<p>{{mensaje.fecha|date:'H:i - d/m/Y'}}</p>
			</div>
			{% else %}
			<div class="row">
				<div class="well col-xs-6 emisor-m">
					<p>{{mensaje.usuario.first_name}}</p>
					<h6>{{mensaje.comentario}}</h6>
					<p>{{mensaje.fecha|date:'H:i - d/m/Y'}}</p>
				</div>
			</div>
			{% endif %}
		{% else %}
			{% if mensaje.usuario == mensaje.proyecto.usuario %}
			<div class="well col-xs-6 receptor-m">
				<p>{{mensaje.usuario.first_name}}</p>
				<h6>{{mensaje.comentario}}</h6>
				<p>{{mensaje.fecha|date:'H:i - d/m/Y'}}</p>
			</div>
			{% else %}
			<div class="row">
				<div class="well col-xs-6 emisor-m">
					<p>{{mensaje.usuario.first_name}}</p>
					<h6>{{mensaje.comentario}}</h6>
					<p>{{mensaje.fecha|date:'H:i - d/m/Y'}}</p>
				</div>
			</div>
			{% endif %}
		{% endif %}
	</div>
	{% endfor %}
	
</div>
{% if proyecto.estatus != 'Cancelado' %}
<div class="write well">
	<div class="row">
		<form method="post">
			<div class="col-xs-11">
				<textarea name="comentario" class="form-control" rows="2" id="descripcion_proyecto" placeholder="Escriba un comentario..." required></textarea>
			</div>
			<div class="col-xs-1">
				<button type="submit" class="btn btn-success">Enviar</button>
			</div>
			<input type="hidden" name="proyecto_id" value="{{proyecto.id}}" />
			{% csrf_token %}
		</form>
	</div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
	$('#mensaje').niceScroll();
	$('#mensaje').getNiceScroll(0).doScrollTop($('#mensaje').height()+1000, -1);
</script>
{% endblock %}