<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SIGF - Login</title>
	<link rel="icon" href="{{STATIC_URL}}img/f_logo.png" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/mfb.css">
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
	<script src="{{STATIC_URL}}js/jquery-2.1.4.min.js"></script>
	<style>
		.form-group{
			padding-top: 0;
			padding-bottom: 0;
		}
		.alert-dismissible .close{
			right: 0px;
		}
	</style>
</head>
<body style="margin-top:30px">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 well">
				<div class="row">
					<div class="col-xs-12">
						<center><img src="{{STATIC_URL}}img/logo_g.png" style="width:150px;"></center>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<center><h4>¡Bienvenido al Sistema Integral de Gestión de Fondos!</h4></center>
						<center><h6>Este sistema fue elaborado para Automatizar el proceso de registro y seguimiento de proyectos ante los fondos federales.</h6></center>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-3"></div>
					<div class="col-xs-6">
						<div class="well bs-component">
							<form class="form-horizontal" method="post" autocomplete="off">
								
								<fieldset>
									<legend>
										<span>Proporcione sus claves de acceso</span>
										<img src="{{STATIC_URL}}img/sk_logo.png" style="width:75px; padding:20px;display:inline-table;padding:0;" class="pull-right">
									</legend>
									<div class="form-group">
										<label class="col-md-2 control-label">Email</label>
										<div class="col-md-10">
											<input type="email" class="form-control" name="email" placeholder="Email" required />
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-2 control-label">Contraseña</label>
										<div class="col-md-10">
											<input type="password" class="form-control" name="password" placeholder="Contraseña" required />
										</div>
									</div>
									{% if messages %}
									<ul class="messages alert alert-{{clase}} alert-dismissible" style="padding: 10px;">
										<button type="button" class="close" data-dismiss="alert">×</button>
										{% for message in messages %}
										<li>
											{{ message }}
										</li>
										{% endfor %}
									</ul>
									{% endif %}
									<a href="#registro" data-toggle="modal" class="btn btn-info pull-left">Crear Usuario</a>
									<button type="submit" class="btn btn-success pull-right">Entrar</button>
								</fieldset>
								{% csrf_token %}
							</form>
						</div>
					</div>
					<div class="col-xs-3"></div>
				</div>          
			</div>
		</div>
	</div>  
	<div class="modal fade" id="registro">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Registro de Usuario</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" method="post" action="/registro/" id="form_registro">
						<fieldset>
							<div class="form-group">
								<label for="numero_empleado" class="col-xs-2 control-label">Numero de Empleado</label>
								<div class="col-xs-10">
								<input type="number" name="no_empleado" class="form-control" placeholder="Numero de Empleado" id="numero_empleado" required />
								</div>
							</div>
							<div class="form-group">
								<label for="nombre_usuario" class="col-xs-2 control-label">Nombre</label>
								<div class="col-xs-10">
									<input type="text" name="nombre" class="form-control" placeholder="Nombre del Usuario" id="nombre_usuario" required />
								</div>
							</div>
							<div class="form-group">
								<label for="apellido_usuario" class="col-xs-2 control-label">Apellido</label>
								<div class="col-xs-10">
									<input type="text" name="apellido" class="form-control" placeholder="Apellido del Usuario" id="apellido_usuario" required />
								</div>
							</div>
							<div class="form-group">
								<label for="correo_usuario" class="col-xs-2 control-label">Correo</label>
								<div class="col-xs-10">
									<input type="email" name="email" class="form-control" placeholder="Correo del Usuario" id="correo_usuario" required />
								</div>
							</div>
							<div class="form-group">
								<label for="telefono_usuario" class="col-xs-2 control-label">Telefono</label>
								<div class="col-xs-10">
									<input type="text" name="telefono" class="form-control" placeholder="Telefono del Usuario" id="telefono_usuario" required />
								</div>
							</div>
							<div class="form-group">
								<label for="area" class="col-xs-2 control-label">Area Responsable</label>
								<div class="col-xs-10">
									<select class="form-control" name="area" id="area">
										{% for area in areas %}
										<option value="{{area.id}}">{{area.nombre}}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="contraseña_usuario" class="col-xs-2 control-label">Contraseña</label>
								<div class="col-xs-10">
									<input type="password" name="password" class="form-control" placeholder="Contraseña del Usuario" id="contraseña_usuario" required />
								</div>
							</div>
							<div class="form-group">
								<label for="contraseña_usuario2" class="col-xs-2 control-label">Repita Contraseña</label>
								<div class="col-xs-10">
									<input type="password" name="password" class="form-control" placeholder="Confirme Contraseña del Usuario" id="contraseña_usuario2" required />
								</div>
							</div>
							<div class="alert alert-dismissible alert-danger hidden" id="con_fail">
							  <button type="button" class="close" id="close_alert">×</button>
							  <strong>Las contraseñas no coinciden.</strong>
							</div>
							<div class="pull-right">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
								<button type="button" class="btn btn-success" id="subm">Registrar</button>
							</div>
						</fieldset>
						{% csrf_token %}
					</form>
				</div><br>
				<div class="modal-footer">
					*Verifica tu correo al terminar el registro
				</div>
			</div>
		</div>
	</div>

	<script src="{{STATIC_URL}}js/bootstrap.js"></script>
	<script src="{{STATIC_URL}}js/mfb.js"></script>
	<script>
	$('#subm').click(function(){
		var psw1 = $('#contraseña_usuario').val();
			psw2 =  $('#contraseña_usuario2').val();
		
		if (psw1 == psw2){
			$('#form_registro').submit()
		}else if (psw1 != '' && psw2 != '') {
			$('#con_fail').removeClass('hidden');
		}
	});
	$('#close_alert').click(function(){
		$('#con_fail').addClass('hidden');
	});
	</script>
</body>
</html>