{% extends 'base.html' %}

{% block contenido %}
<style>
	.resp{
		display: inline-block;
		margin-top: 7px;
	}
	.form-group{
		padding: 0;
	}
</style>
<div class="row">
	<div class="col-xs-12 form-horizontal well">
		<legend>Datos del Proyecto
		{% if proyecto.status.status.fase != 99 %}
			{% if request.user.informacion.rol.nombre == 'Cliente Interno' and proyecto.status.status.fase == 1 %}
				<a href="#cancelar_proyecto" data-toggle="modal" class="btn btn-sm btn-danger pull-right">
					Cancelar
				</a>
			{% endif %}
			{% if request.user.informacion.rol.nombre == 'Gerente' or  request.user.informacion.rol.nombre == 'Analista'  %}
				<a href="#cancelar_proyecto" data-toggle="modal" class="btn btn-sm btn-danger pull-right">
					Cancelar
				</a>
			{% endif %}
		{% endif %}
		{% if request.user.informacion.rol.nombre == 'Cliente Interno' or request.user.informacion.rol.nombre == 'Gerente'%}
		{% if proyecto.status.status.fase == 3 %} <a href="#aceptar_cisk" data-toggle="modal" class="btn btn-sm btn-success pull-right">Aceptar Plan de Negocios & Plan de Pagos</a>
		{% endif %}
		{% endif %}
		</legend>

		<div class="data_princ row">
			<div class="form-group col-xs-4">
				<label class="col-xs-3 control-label">Folio:</label>
				<h5 class="resp col-xs-9">{{proyecto.folio_interno}}</h5>
			</div>
			<div class="form-group col-xs-4">
				<label class="col-xs-3 control-label">Estatus:</label>
				<h5 class="resp col-xs-9">{{proyecto.status.status.nombre}}</h5>
			</div>
			<div class="form-group col-xs-4">
				<label class="col-xs-3 control-label">Fecha de Solicitud:</label>
				<h5 class="resp col-xs-9">{{proyecto.fecha}}</h5>
			</div>				
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Nombre del Proyecto:</label>
			<h5 class="resp col-xs-10">{{proyecto.nombre}}.</h5>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Descripción:</label>
			<h6 class="resp col-xs-10">{{proyecto.descripcion}}.</h6>
		</div>		
		<div class="form-group">
			<label class="col-xs-2 control-label">Rubros de Apoyo:</label>
			<h5 class="resp col-xs-10">{{proyecto.rubros_apoyo}}.</h5>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Area Responsable:</label>
			<h5 class="resp col-xs-10">{{proyecto.area_responsable.nombre}}.</h5>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Razón Social:</label>
			<h5 class="resp col-xs-10">{{proyecto.razon_social.nombre}}.</h5>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Monto de Inversión:</label>
			<h5 class="resp col-xs-10">{{proyecto.inversion}} {{proyecto.tipo_moneda}}</h5>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Lapso estimado de Realización:</label>
			<h5 class="resp col-xs-10">{{proyecto.duracion}} Meses a partir de {{proyecto.fecha_inicio}}</h5>
		</div>
		<div class="row">
			<div class="panel panel-warning">
				<div class="panel-heading">
					<h3 class="panel-title">Archivos Adjuntos</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-hover ">
						<thead>
							<tr>
								<th style="text-align: left;">Nombre del Documento</th>
								<th style="text-align: left;">Fecha de Subida</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for anexo in proyecto.anexos %}
							<tr>
								<td>{{anexo.nombre}}</td>
								<td>{{anexo.fecha}}</td>
								<td>
									<a href="{{anexo.url_archivo}}" target="_blank" class="btn btn-primary btn-xs">Ver</a>
									{% if request.user.informacion.rol.nombre == 'Gerente' or  request.user.informacion.rol.nombre == 'Analista'  %}
									<form method="post">
										<button type="submit" class="btn btn-danger btn-xs">Eliminar</button>
										<input type="hidden" name="accion" value="eliminar_anexo" />
										<input type="hidden" name="anexo_id" value="{{anexo.id}}" />
										<input type="hidden" name="proyecto_id" value="{{proyecto.id}}" />
										{% csrf_token %}
									</form>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% if request.user.informacion.rol.nombre != 'Cliente Interno' and proyecto.status.status.fase !=  99 %}
				<div style="padding:10px">
					<a href="#adj_doc" data-toggle="modal" class="btn btn-info">Agregar Anexo</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% if request.user.informacion.rol.nombre != 'Cliente Interno' and proyecto.status.status.fase != 99 %}
<div class="row well" id="camb_datos">
	<legend>Cambiar Estatus</legend>
	<form method="post" class="form-horizontal">
		<div class="form-group">
			<label for="status" class="col-xs-2 control-label">Estatus del proyecto</label>
			<div class="col-xs-10">
				<select class="form-control" id="status" name="status">
					{% for stat in status %}
						{% if stat.fase != 99 %}
						<option value="{{stat.fase}}" {% if proyecto.status.status.id == stat.id %}selected{% endif %}
						{% if stat.fase == 4 %}disabled{% endif %}>{{stat.nombre}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
<style>
#datos_ex_div{
	background-color: #C7F2D3;
	border-radius: 50px
}
</style>
		<div id="datos_ex_div" style="display:none">
			<div class="form-group">
				<div id="status_fecha_div">
					<label for="status_fecha" class="col-xs-2 control-label" id="status_fecha_label"></label>
					<div class="col-xs-4">
					<input name="status_fecha" type="date" class="form-control" id="status_fecha" />
					</div>
				</div>
				<div id="status_comen_div">
					<label for="status_comen" class="col-xs-2 control-label" id="status_comen_label"></label>
					<div class="col-xs-4">
					<input name="status_comen" type="text" class="form-control" id="status_comen" value="{{proyecto.status.comentario}}" />
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="organismo_fondo" class="col-xs-2 control-label">Organismo receptor de la solicitud:</label>
			<div class="col-xs-10">
				<select class="form-control" id="organismo_fondo" name="organismo_fondo">
					<option value="">Sin definir</option>
					{% for org in fondo %}
					{% if proyecto.fondo == org %}
					<option value="{{org.id}}" selected>{{org.nombre}}</option>
					{% else %}
					<option value="{{org.id}}">{{org.nombre}}</option>
					{% endif %}f
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group">
			<label for="folio_externo" class="col-xs-2 control-label">Folio externo</label>
			<div class="col-xs-10">
				<input type="text" name="folio_externo" class="form-control" placeholder="Folio Externo" id="folio_externo"
				{% if proyecto.folio_externo %} value="{{proyecto.folio_externo}}" {% endif %} 
				>
			</div>
		</div>
		<input type="hidden" name="accion" value="agregar_datos_ad" />
		<input type="hidden" name="proyecto_id" value="{{proyecto.id}}" />

		<div class="form-group pull-right">
			<button type="submit" class="btn btn-success">Guardar datos</button>
		</div>
		{% csrf_token %}
	</form>
</div>

<div class="modal fade" id="adj_doc">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Adjuntar Documento</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" method="post" id="form_registro">
					<fieldset>
						<div class="form-group">
							<label for="nombre_archivo" class="col-xs-2 control-label">Nombre del Documento</label>
							<div class="col-xs-10">
								<input type="text" name="nombre_archivo" class="form-control" placeholder="Nombre del Documento" id="nombre_archivo" required />
							</div>
						</div>
						<div class="form-group">
							<label for="url_archivo" class="col-xs-2 control-label">URL del Documento</label>
							<div class="col-xs-10">
								<input type="text" name="url_archivo" class="form-control" placeholder="http://ejemplo.com/ejemplo.docx" id="url_archivo" required />
							</div>
						</div>
						<input type="hidden" name="accion" value="agregar_anexo" />
						<input type="hidden" name="proyecto_id" value="{{proyecto.id}}" />
						<div class="pull-right">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
							<button type="submit" class="btn btn-success" id="subm">Guardar</button>
						</div>
					</fieldset>
					{% csrf_token %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endif %}
<style>
	th{
		text-align: center;
	}
</style>
<div class="row well">
	<legend>Historial del Proyecto</legend>
	<div class="col-xs-12">
		<table class="table table-striped table-hover " style="text-align:center">
		<thead>
			<tr class="danger">
				<th>Estatus</th>
				<th>  </th>
				<th>Datos</th>
			</tr>
		</thead>
		<tbody>
			{% for stat in proyecto.all_status %}
				{% if stat.status.fase != 3 %}
					<tr>
				      <td>{{stat.status.nombre}}</td>
				      <td><i class="fa fa-check" style="color:green;"></i></td>
				      <td>
				      {% if stat.status.fase == 6 %}
				      	 Se dará el resultado en al siguiente fecha: 
				      	 {% if stat.fecha_entrega  %} 
				      	 	{{stat.fecha_entrega}} 
				      	 {% endif %}
				      {% elif stat.status.fase == 8 %}
				      	 Fecha que se recibira el apoyo: 
				      	 {% if stat.fecha_entrega  %} 
				      	 	{{stat.fecha_entrega}}
				      	 {% endif %}
				      {% elif stat.status.fase == 9 %}
				      	 Fecha para finiquito: 
				      	 {% if stat.fecha_entrega  %}
				      	 	{{stat.fecha_entrega}}
				      	 {% endif %} - Avance : {{stat.comentario}}%
				      {% elif stat.status.fase == 10 %}
				      	 Resultado de la auditoría: {{stat.comentario}}
				      {% elif stat.status.fase == 11 %}
				      	 Tu proyecto ha concluido con éxito
				      {% elif stat.status.fase == 99 %}
				      	 Cancelado por {{stat.usuario.first_name}}
				      {% endif %}
				      </td>
				    </tr>
			    {% endif %}
		    {% endfor %}
		</tbody>
	    
	</div>
</div>

{% if proyecto.status.status.fase == 3 %}
<div class="modal" id="aceptar_cisk">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p>Al aceptar estaras confirmando que estas de acuerdo con el Plan de Trabajo y el Plan de Negocios, planteados por el Analista.</p>
				<p>Cualquier duda, puedes hacersela saber con el sistema de comentarios.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<form method="post" style="display: inline-block;">
					<button type="submit" class="btn btn-danger">Aceptar</button>		
					<input type="hidden" name="accion" value="estatus" />
					<input type="hidden" name="proyecto_id" value="{{proyecto.id}}" />
					{% csrf_token %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endif %}
<div class="modal" id="cancelar_proyecto">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Estas seguro que desea cancelar el proyecto?</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">El siguiente proyecto sera cancelado y no puede ser revertido.</h3>
					</div>
					<div class="panel-body">
						<span id="nombre_proyecto"><strong>{{proyecto.nombre}}</strong></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<form method="post" style="display: inline-block;">
					<button type="submit" class="btn btn-danger">Aceptar</button>		
					<input type="hidden" name="accion" value="cancelar" />
					<input type="hidden" id="proyecto_id_canc" name="proyecto_id" value="{{proyecto.id}}" />
					{% csrf_token %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function(){
		check_status();
		$('#status_fecha').val('{{ proyecto.status.fecha_entrega | date:"Y-m-d"}}');
	});
	$('#status').change(function(){
		$('#status_comen').val('');
		$('#status_fecha').val('');
		check_status();
	});

	
	function check_status(){
		status = $('#status').val();
		$('#status_fecha_div').css({display:''});
		$('#status_comen_div').css({display:''});
		if (status == 6){
			$('#datos_ex_div').css({display: ''});
			$('#status_comen_div').css({display: 'none'});
			$('#status_fecha_label').text('Fecha para saber resultado:');
		}
		else if (status == 8){
			$('#datos_ex_div').css({display: ''});
			$('#status_comen_div').css({display: 'none'});
			$('#status_fecha_label').text('Fecha que se recibirá el apoyo:');
		}
		else if (status == 9){
			$('#datos_ex_div').css({display: ''});
			$('#status_comen_label').text('Avance(%)');
			$('#status_fecha_label').text('Fecha para finiquito:');
		}
		else if (status == 10){
			$('#datos_ex_div').css({display: ''});
			$('#status_comen_label').text('Resultado de auditoría');
			$('#status_fecha_div').css({display:'none'});
		}
		else{
			$('#datos_ex_div').css({display: 'none'});
		}
	}
</script>
{% endblock %}