{% extends 'base.html' %}

{% block head %}
<style type="text/css" media="screen">
	.btn-xs{
		font-size: 10px;
	}	
</style>
{% endblock %}

{% block contenido %}
<div class="row">
	<div class="col-xs-12 well">
		<legend>Proyectos Registrados por Cliente Interno</legend>
		{% if messages %}
		{% for message in messages %}
		<ul class="messages alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %} alert-dismissible" style="padding: 10px; padding-right: 30px;">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<li>
				{{ message }}
			</li>
		</ul>
		{% endfor %}
		{% endif %}
		<div class="bs-component">
			<table id="datos_princ" class="table table-striped table-hover">
				<thead>
					<tr>
						<th width="auto" data-column-id="fecha">Fecha</th>
						<th data-column-id="folio">Folio</th>
						<th data-column-id="rol">
							{% if request.user.informacion.rol.nombre == 'Analista' or request.user.informacion.rol.nombre == 'Gerente' %}CISK{% endif %}
							{% if request.user.informacion.rol.nombre == 'Cliente Interno' %}Analista Asignado{% endif %}
						</th>
						<th data-column-id="proyecto">Proyecto</th>
						<th data-column-id="raza">Estatus</th>
						<th data-column-id="commands" data-sortable="false"></th>	
					</tr>
				</thead>
				<tbody>
					{% for proyecto in proyectos %}
					<tr>
						<td>{{proyecto.fecha|date:'j-F-Y'}}</td>
						<td>{{proyecto.folio_interno}}</td>
						<td>
							{% if request.user.informacion.rol.nombre == 'Analista' or request.user.informacion.rol.nombre == 'Gerente' %}{{proyecto.usuario.first_name}} {{proyecto.usuario.last_name}}{% endif %}
							{% if request.user.informacion.rol.nombre == 'Cliente Interno' %}{{proyecto.analista.first_name}}{% endif %}
						</td>
						<td>{{proyecto.nombre}}</td>
						<td>
							{{proyecto.status.status.nombre}} {% if proyecto.status.status.fase == 99 %}por {{proyecto.status.usuario.first_name}}{% endif %}
						</td>
						<td>
							<a href="/proyecto/ver/{{proyecto.slug}}/" class="btn btn-primary btn-xs">Ver</a>
							<a href="/proyecto/comentarios/{{proyecto.slug}}/" class="btn btn-info btn-xs">Comentarios</a>
							{% if proyecto.status.status.fase == 1 %}
							<a href="#" class="btn btn-danger btn-xs" style="display: inherit;" onclick="cancelarBtn({{proyecto.id}}, '{{proyecto.nombre}}');">Cancelar</a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Estas seguro que desea cancelar el proyecto?</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">El siguiente proyecto sera cancelado y no puede ser revertido.</h3>
					</div>
					<div class="panel-body">
						<span id="nombre_proyecto"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<form method="post" style="display: inline-block;">
					<button type="submit" class="btn btn-danger">Aceptar</button>		
					<input type="hidden" name="accion" value="cancelar" />
					<input type="hidden" id="proyecto_id_canc" name="proyecto_id" />
					{% csrf_token %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	$("#datos_princ").bootgrid({ caseSensitive: false });
	
	var cancelarBtn = function(id, nombre){
		$('#proyecto_id_canc').val(id);
		$('#nombre_proyecto').html( '<strong>' + nombre + '</strong>' );
		$('.modal').modal('show');
	};
</script>
{% endblock %}